<%- include("partials/header") %>

<h1>Index</h1>

<div class="container">
    <% blogs.forEach(function(blog){ %> 
        <div class="container border m-2">
            <h2><%= blog.title%></h2>
            <img src="<%=blog.image%>" alt="">
            <span><%=blog.created%></span>
            <p><%-blog.body.substring(0, 100)%></p>
            <a href="/blogs/<%=blog._id%>">See more</a>
        </div>
    <% }) %> 
</div>


<%- include("partials/footer") %>